img {
  height: 15vw;
  width: 15vw;
  user-select: none;
  pointer-events: none;
}

#map, #home {
  color: black;
  margin-top: 0;
  padding-top: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10vw;
}


/* this will filter image to be a solid black, making it useable for guess that pokemon*/
#sprite {
  filter: saturate(0%) brightness(40%) contrast(1500%);

}
