/* body {
  background-color: blue;
}
tested working
*/
body {
  width: 100%;
  background-image: url(../img/pokeball-background2.png);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.containAll {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
form {
  background-color: grey;
  width: 100%;
}
* {
  border: red 2px solid;
}
button {
  display: none;
  width: 10%;
  padding: 2%;
}
header {
  width: 100%;
  text-align: center;
}
.display {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: grey;

}
.containerPrime{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2em;
}
#spriteDisplay {
  background-image: url(../img/image-background.png);
  background-size: cover;
  background-position: center;
}

#spriteDisplay, #sprite {
  width: 100%;
}
#name, #height, #weight, #type, #id {
  border: none;
  margin-right: 20%;
}
#name, #type, #growthRate {
  text-transform: capitalize;
}

.containerBeta {
  height: 100%;
}
.additionalInfo {
  height: 100%
}

.row {
  display: flex;
  justify-content: space-between;
}
.row > p {
  margin: 0;
  margin-left: 10%;
  border: none;
}
/* graveyard


 */
