/* tested working */

body {
  width: 100%;
  background-image: url(../img/pokeball-background2.png);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}
#pokedexCover {
  margin-top: 10vw;
  height: 85%;
  width: 85%;
}
#map, #game {
  color: black;
  margin-top: 0;
  padding-top: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10vw;
}

.containAll {
  width: 80%;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  border: darkred 20px solid;
  border-radius: 20px;
  margin-top: 8vw;
  background-color: darkred;
  box-shadow: 5px 10px 8px;
}
header {
  position: fixed;
}

form {
  background-color: darkred;
  width: 100%;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
input[type=text] {
  width: 40%;
  font-size: 3vw;
  text-align: center;
}
input[type=submit] {
  width: 10vw;
  height: 10vw;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-image: linear-gradient(red, red, red, black, white, white, white);
  border-radius: 50px;
  border: 3px solid black;
  color: white;
  text-shadow: 2px 2px 3px black;
}

button {
  display: none;
  margin: 0;
  width: 10%;
  padding: 2%;
  background-color: darkred;
  border-radius: 12px;
  border: black;
}
#prev > img {
  max-height: 100%;
  max-width: 100%;
}
#next > img {
  max-height: 100%;
  max-width: 100%;
}
header {
  height: 4vw;
  width: 100%;
  text-align: center;
}
.display {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 233, 233);
  /* border: red 5px solid; */
  border-radius: 12px;

}
.containerPrime{
  /* border: red 2px solid; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-size: 3.5vw;
}
#spriteDisplay {
  background-image: url(../img/image-background.png);
  background-size: cover;
  background-position: center;
}
#spriteDisplay, #sprite {
  width: 100%;
  display: none;
}
#name, #id {
  border: none;
  margin-right: 30%;
}
#type, #type2 {
  border: none;

}

#height, #weight, #type2 {
  border: none;
  margin-right: 10%;
  text-align: center;
}
#name, #type, #type2, #growthRate {
  text-transform: capitalize;
}
#id, #name, #height, #weight, #type, #type2, #growthRate, .break {
  font-family: 'Roboto', sans-serif;
}
.break {
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: center;
}

.containerBeta {
  font-size: 3.5vw;
}
#flavorText {
  height: 30vw;
  overflow: scroll;
  font-family: 'Roboto', sans-serif;
}

.row {
  border: lightgrey 1px groove;
  display: flex;
  justify-content: space-between;
}
.row > p {
  margin: 0;
  margin-left: 10%;
  border: none;
}
.bind {
  border: none;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.bind > p {
  width: 60%;
  margin: 0;
  padding: 0;
}
.unit {
  border: none;
  text-align: left;
}


/* Resposive Design */

@media (min-width: 520px) {

  #pokedexCover {
    margin-top: 10vw;
    height: 80%;
    width: 80%;
  }

  body {
  width: 80%;
  margin: 0;
  }
  header {
    width: 100%;
    height: 4vw;
  }
  form {
    height: 5vw;
    margin-left: 5%;
  }
  input[type=text] {
    font-size: 2.6vw;
  }
  input[type=submit] {
    font-size: 2.6vw;
    width: 7vw;
    height: 7vw;
  }
  .display {
    width: 75%;
  }
  .containAll{
    margin-top: 3.6vw;
    border: 6px;
    align-self: center;
  }
  .containerPrime{
    font-size: 2.4vw;
  }
  .containerBeta{
    font-size: 2.4vw;
  }
  button {
    border-radius: 6px;
  }
}


@media (min-width: 990px) {
  #pokedexCover {
    margin-top: 4vw;
    height: 80%;
    width: 80%;
  }

  body {
  width: 60%;
  margin: 0;
  /* margin-left: 20%; */
  }
  header {
    width: 100%;
    height: 3vw;
  }
  form {
    height: 4vw;
  }
  input[type=text] {
    font-size: 1.6vw;
  }
  input[type=submit] {
    font-size: 1.6vw;
    width: 5vw;
    height: 5vw;
  }
  .display {
    max-width: 55%;
    max-height: 80%;
  }
  .containAll{
    margin-top: 2.6vw;
    border: 4px;
    align-self: center;
  }
  .containerPrime{
    font-size: 1.4vw;
  }
  .containerBeta{
    font-size: 1.4vw;
  }
  button {
    border-radius: 4px;
  }
  #flavorText {
    height: 10vw;
  }
}


/* graveyard
/* .additionalInfo {
  height: 100%;
} */
/* h6 {
  margin: 0 auto;
  padding-left: 10%;
} */
