/* * {
  border: 2px black solid;
} */
html {
  background-image: url(../img/pokeball-background2.png);

}

body {
  background-color: rgba(255,255,255,0.8);
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin-left: 0;
  margin-right: 0;
  margin: 0;
  align-self: center; */
}
img {
  border: solid 5px black;
}
#game, #home {
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkred;
  border-radius: 20px;
  /* margin-left: 7%; */
}

.mapSection {
  align-self: center;
  max-height: 80vh;
  max-width: 80vw;
  overflow: scroll;
}
h3 {
  text-align: center;
  width: 100%;
  background-color: white;
}

// Responsive Design

/* @media (min-width: 520px) {
}
@media (min-width: 850px) {
}
@media (min-width: 1350px) {
} */

 /* old test responsive not working  */
/* @media (max-width: 519px) {
  .mapSection {

  }
}

@media (min-width: 520px) {
  .mapSection {
    max-width: 800px;
    max-height: 800px;
    overflow: visible;
  }
} */


/* @media (min-width: 700px) {
  .mapSection {
    height: 500px;
    width: 500px;

  }
} */
