* {
  border: 2px black solid;
}


body {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* margin-left: 0;
  margin-right: 0;
  margin: 0;
  align-self: center; */
}
img {
  border: solid 5px black;
}
#game, #home {
  color: black;
  margin-top: 0;
  padding-top: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 7%; */
}

.mapSection {
  align-self: center;
  max-height: 300px;
  max-width: 300px;
  overflow: scroll;
}
h3 {
  text-align: center;
  width: 100%;
}

// Responsive Design
/* @media (max-width: 519px) {
  .mapSection {

  }
}

@media (min-width: 520px) {
  .mapSection {
    max-width: 800px;
    max-height: 800px;
    overflow: visible;
  }
} */


/* @media (min-width: 700px) {
  .mapSection {
    height: 500px;
    width: 500px;

  }
} */
