body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
img {
  border: solid 5px black;
}
#game, #home {
  color: black;
  margin-top: 0;
  padding-top: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10vw;
}
